*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --filter: none;
    --block-index: -2;
    --blocker-context-menu: -2;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* to display the clock */

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    padding: 3px;
    border-radius: 5px;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* popup that contains shortcuts */

.shortcutContainer {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    border-radius: 20px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* favourites container */

.favourites {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* the box that stores the links (shortcuts and favourites) */

.box {
    padding: 32px;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* body */

body {
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    background-color: #1b1a1a;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.background {
    position: fixed;
    background-image: url("./assets/black-dust.jpg");
    width: 100%;
    height: 100vh;
    z-index: -1;
    filter: var(--filter);
}

.blocker {
    background: rgba(16, 16, 16, 0.45);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: var(--block-index);
}

.filter-topBar {
    width: 100%;
    filter: var(--filter);
}

.filter-box {
    filter: var(--filter);
}
/* ----------------------------------------------------------------------------------------------------------------------- */
/* top bar  */

.top-bar {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #212121;
    /* box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b; */
    border: none;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
    /* transform: scale(0.97); */
}

.top-bar:hover {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    /* transform: scale(0.98); */
}

/* ------------------------------------------------------------------------------------------------------------- */
/* for the adding favourites button */

.addFavouriteBtn {
    width: 100px;
    height: 100px;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
}

.addFavouriteBtn:hover {
    box-shadow: none;
    color: dodgerblue;
    transform: scale(1.2);
}

.addFavouriteBtn:active {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
    color: #7b7c7e;
}
/* --------------------------------------------------------------------------------------------------- */
/* for the shortcutButton */
.shortcutBtn {
    width: 100px;
    height: 100px;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
}

.shortcutBtn:hover {
    /* background-color: #ffffff; */
    color: #474747;
    /* color: dodgerblue; */
    border-style: solid;
    transform: scale(1.2);
}

.shortcutBtn:active {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
}

/* ---------------------------------------------------------------------------------------------------------- */
/* for the favouritesButtons */

.favouritesBtn {
    width: 100px;
    height: 100px;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
}

.favouritesBtn:hover {
    box-shadow: none;
    transform: scale(0.98);
}

.favouritesBtn:active {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
}

/* --------------------------------------------------------------------------------------------------------------  */

.appName {
    /* margin: 15px 10px; */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    /* color: #ffffff; */
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 3px;
}

.appName:hover {
    box-shadow: none;
    transform: scale(0.98);
}

.appName:active {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
}

.menu {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    padding: 3px;
    border-radius: 5px;
}

.dialogOuterBox {
    top: 50%;
    left: 50%;
    position: absolute;
}

.dialogNewFavourite {
    position: relative;
    width: 400px;
    margin-left: -200px;
    height: 200px;
    margin-top: -100px;
    z-index: 999999999999999;
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
}

.dialogNewFavourite > #inputBoxWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}
.dialogNewFavourite > #inputBoxWrapper > #inputBox {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 5px;
    border: none;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
}

#nameBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

input#name {
    border: none;
    height: 100%;
    width: 250px;
    border-radius: 5px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    color: #ffffff;
}

input#name:hover {
    box-shadow: none;
    border: dodgerblue solid 3px;
    transform: scale(1.05);
}

input#name:focus {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    border: none;
    outline: none;
    transform: scale(0.98);
}

#urlBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

input#url {
    border: none;
    height: 100%;
    width: 250px;
    border-radius: 5px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    color: #ffffff;
}

input#url:hover {
    box-shadow: none;
    border: dodgerblue solid 3px;
    transform: scale(1.05);
}

input#url:focus {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    border: none;
    outline: none;
    transform: scale(0.98);
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#buttonContainer > #close {
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 5px;
    letter-spacing: 2px;
}

#buttonContainer > #close:hover {
    box-shadow: none;
    color: rgb(255, 123, 0);
    transform: scale(1.05);
}

#buttonContainer > #close:active {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
}

#buttonContainer > #create {
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 5px;
    letter-spacing: 2px;
}

#buttonContainer > #create:hover {
    box-shadow: none;
    color: dodgerblue;
    transform: scale(1.05);
}

#buttonContainer > #create:active {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
}

.contextMenus > [class^="context-menu"] {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 5px;
    letter-spacing: 2px;
}

.contextMenus > [class^="context-menu"] > div {
    width: 120px;
    padding: 5px;
    border-radius: 10px;
    background-color: #212121;
    /* box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b; */
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 5px;
    letter-spacing: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    z-index: 99999999999999999999999999999999999999999999999;
}

.contextMenus > [class^="context-menu"] > div:hover {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    color: rgb(168, 168, 168);
}

.contextMenus > [class^="context-menu"] > div:active {
    box-shadow: none;
    color: rgb(133, 133, 133);
}

.contextMenuBlocker {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: var(--blocker-context-menu);
}
