.settingsOuterBox {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.wallpaperToggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}

.wallpaperToggle > button {
    border: 1px solid dodgerblue;
    background-color: #212121;
    border-radius: 11px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px;
    letter-spacing: 2px;
    transition: background-color 0.2s ease-in-out;
}

.wallpaperToggle > button:hover {
    background-color: dodgerblue;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.wallpaperToggle > button:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

.settingsPanel {
    display: flex;
    flex-direction: column;
    background-color: #212121;
    color: white;
    border-radius: 9px;
    border: 1px solid dodgerblue;
    min-width: 300px;
    min-height: 450px;
    margin: 50px;
    padding: 30px;
    z-index: 1;
    gap: 15px;
    animation: none;
}

@keyframes settingsAppear {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.settingsTitle {
    font-size: 1.65em;
    color: dodgerblue;
}

.wallpaperOpenDialog {
    visibility: hidden;
    display: none;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid dodgerblue;
    gap: 15px;
    transition: background-color 0.2s ease-out;
    margin-left: 5px;
    margin-right: 5px;
}

.tab:hover {
    background-color: dodgerblue;
}

.tab_radio:checked + .tab {
    background-color: dodgerblue;
    transform: scaleY(1.2);
    transition: transform 0.2s ease-in-out;
}

.tabs {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid dodgerblue;
    padding: 5px 30px;
    padding-bottom: 10px;
    border-radius: 8px;
}

.backgroundPage {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bg_preview_settings {
    max-height: calc(100vh - 400px);
    max-width: calc(100vw - 300px);
    min-height: 225px;
    min-width: 400px;
    border-radius: 9px;
}
.tab_radio {
    display: none;
}

.wallpaperSettings {
    border-left: 3px solid dodgerblue;
    border-right: 3px solid dodgerblue;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 11px;
}

.aboutPage {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.socialLink {
    display: flex;
    flex-direction: row;
    border: 2px solid dodgerblue;
    border-radius: 11px;
    padding: 10px;
    color: white;
    font-size: medium;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.socialLink:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.githubLink::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/github-brands.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    filter: invert(100%);
}
.instaLink::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/instagram-brands.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    filter: invert(100%);
}

.infoIcon {
    display: block;
    height: 100px;
    background-image: url(../assets/icons/info-circle-solid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    filter: invert(100%);
}
