*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --filter: none;
    --block-index: -2;
    --blocker-context-menu: -2;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* to display the clock */

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    padding: 3px;
    border-radius: 5px;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* popup that contains shortcuts */

.shortcutContainer {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    border-radius: 20px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* favourites container */

.favourites {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    transition: 0.1s ease-in-out;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* the box that stores the links (shortcuts and favourites) */

.box {
    padding: 32px;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* body */

body {
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    overflow: hidden;
    background-color: #1b1a1a;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.background {
    position: fixed;
    background-image: url("../assets/black-dust.jpg");
    width: 100%;
    height: 100vh;
    z-index: -1;
    filter: var(--filter);
}

.blocker {
    background: rgba(16, 16, 16, 0.45);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: var(--block-index);
}

.filter-topBar {
    width: 100%;
    filter: var(--filter);
}

.filter-box {
    filter: var(--filter);
}
/* ----------------------------------------------------------------------------------------------------------------------- */
/* top bar  */

.top-bar {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #212121;
    /* box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b; */
    border: none;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
    /* transform: scale(0.97); */
}

.top-bar:hover {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    /* transform: scale(0.98); */
}

/* ------------------------------------------------------------------------------------------------------------- */
/* for the adding favourites button */

.addFavouriteBtn {
    width: 100px;
    height: 100px;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
    transition: 0.2s ease-out;
}

.addFavouriteBtn > * {
    pointer-events: none;
}

.addFavouriteBtn:hover {
    border-radius: 11px;
    color: #7b7c7e;
    border-style: solid;
    transform: scale(1.2);
}

.addFavouriteBtn:active {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
    color: dodgerblue;
}
/* --------------------------------------------------------------------------------------------------- */
/* for the shortcutButton */
.shortcutBtn {
    width: 100px;
    height: 100px;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
    transition: 0.1s ease-out;
    /* animation: BtnCreation 0.5s; */
}

.shortcutBtn > * {
    pointer-events: none;
}

.shortcutBtn:hover {
    /* background-color: #ffffff; */
    color: #474747;
    /* color: dodgerblue; */
    border-style: solid;
    transform: scale(1.2);
}

.shortcutBtn:active {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
}

/* ---------------------------------------------------------------------------------------------------------- */
/* for the favouritesButtons */

.favouritesBtn {
    width: 100px;
    height: 100px;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
    transition: 0.1s ease-out;
    /* animation: BtnCreation 0.5s; */
}

.favouritesBtn > * {
    pointer-events: none;
}

.favouritesBtn:hover {
    /* background-color: #ffffff; */
    color: #474747;
    /* color: dodgerblue; */
    border-style: solid;
    transform: scale(1.2);
    transition: 0.1s ease-out;
}

.favouritesBtn:active {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
}

@keyframes BtnCreation {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 100px;
        height: 100px;
    }
}

.dragIndicator {
    width: 5px;
    height: 100px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.1;
    border-radius: 2px;
    margin: 15px 10px;
    transition: 0.1s ease-out;
    animation: fadeInDragIndicator 0.5s ease-out;
}

.dragover {
    opacity: 1;
    border-radius: 10px;
    width: 100px;
}

.dragging {
    opacity: 0;
    width: 0px;
    height: 0px;
}

@keyframes fadeInDragIndicator {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.1;
    }
}
/*
.dragover {
    background-color: rgb(211, 211, 211);
}

.mover {
    width: 5px;
    height: 100px;
    padding: 5px;
    margin: 15px 10px;
    background-color: #ffffff;
    border-radius: 10px;
} */
/* --------------------------------------------------------------------------------------------------------------  */

.appName {
    /* margin: 15px 10px; */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    /* color: #ffffff; */
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 3px;
}

.appName:hover {
    box-shadow: none;
    transform: scale(0.98);
}

.appName:active {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
}

.menu {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    padding: 3px;
    border-radius: 5px;
}

.dialogOuterBox {
    top: 50%;
    left: 50%;
    position: absolute;
}

@keyframes diaBoxCreation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.dialogNewFavourite {
    position: relative;
    width: 400px;
    margin-left: -200px;
    height: 200px;
    margin-top: -100px;
    z-index: 1;
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
    animation: diaBoxCreation 0.2s;
}

.dialogNewFavourite > #inputBoxWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}
.dialogNewFavourite > #inputBoxWrapper > #inputBox {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 5px;
    border: none;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
}

#nameBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

input#name {
    border: none;
    height: 100%;
    width: 250px;
    border-radius: 5px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    color: #ffffff;
    border: dodgerblue none;
    transition: 0.3s ease-out;
}

input#name:hover {
    box-shadow: none;
    border: dodgerblue solid 3px;
    transform: scale(1.05);
}

input#name:focus {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    border: none;
    outline: none;
    transform: scale(0.98);
}

#urlBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

input#url {
    border: none;
    height: 100%;
    width: 250px;
    border-radius: 5px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    color: #ffffff;
    border: dodgerblue none;
    transition: 0.3s ease-out;
}

input#url:hover {
    box-shadow: none;
    border: dodgerblue solid 3px;
    transform: scale(1.05);
}

input#url:focus {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    border: none;
    outline: none;
    transform: scale(0.98);
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#buttonContainer > #close {
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 5px;
    letter-spacing: 2px;
}

#buttonContainer > #close:hover {
    box-shadow: none;
    color: rgb(255, 123, 0);
    transform: scale(1.05);
}

#buttonContainer > #close:active {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
}

#buttonContainer > #create {
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 5px;
    letter-spacing: 2px;
}

#buttonContainer > #create:hover {
    box-shadow: none;
    color: dodgerblue;
    transform: scale(1.05);
}

#buttonContainer > #create:active {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
}

.contextMenus > [class^="context-menu"] {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 5px;
    letter-spacing: 2px;
    z-index: 2;
}

.contextMenus > [class^="context-menu"] > * {
    /* width: 120px; */
    padding: 5px;
    border-radius: 10px;
    background-color: #212121;
    /* box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b; */
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 5px;
    letter-spacing: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: 0.1s ease-out;
}

.contextMenus > [class^="context-menu"] > *:hover {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    color: rgb(168, 168, 168);
}

.contextMenus > [class^="context-menu"] > *:active {
    box-shadow: none;
    color: rgb(133, 133, 133);
}

.contextMenuBlocker {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: var(--blocker-context-menu);
}

.cursor {
    pointer-events: none;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    top: 0;
    left: 0;
    background-color: white;
    z-index: 3;
}

.cursor-lazy {
    pointer-events: none;
    width: 45px;
    height: 45px;
    border-radius: 45%;
    border: 2px solid rgb(165, 165, 165);
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    top: 0;
    left: 0;
    transition: 0.1s ease-out;
    z-index: 4;
}
